@{
    ViewBag.Title = "Catalog";
}
<article class="row" role="main">
    <h1>
        Products</h1>
    <section class="right col scroll-y" role="document">
        <h2>Results</h2>
        <ul id="Products">
            <li><a id="One" href="#">one</a></li>
            <li><a href="#">two</a></li>
            <li><a href="#">three</a></li>
            <li><a href="#">four</a></li>
            <li><a href="#">five</a></li>
        </ul>
    </section>
    <aside class="left col" role="complementary">
        <h2>
            Categories</h2>
        <ul id="Filters">
            <li><a href="#">Sprockets</a></li>
            <li><a href="#">Widgets</a></li>
        </ul>
    </aside>
</article>
@section PageScripts
{
    <script>
        yepnope([
            { test: Modernizr.draganddrop, nope: ['@Url.Content("~/Scripts/DragDropHelpers.js")'], complete: function () { DragDropHelpers.fixVisualCues = true; } }
        ]);
    </script>
    @* For more on Drag-and-Drop check out http://www.useragentman.com/blog/2010/01/10/cross-browser-html5-drag-and-drop/ *@
    <script>
        function dragStartEvent(e) {
            $(e.target).addClass('dragging');
        }

        function dragEndEvent(e) {
            $('#Products .dragging').removeClass('dragging');
            $('#Products .dragtarget').removeClass('dragtarget');
        }

        function dragEnterEvent(e) {
            $(e.target).addClass('dragtarget');
        }

        function dragOverEvent(e) {
            e.preventDefault();
        }

        function dragLeaveEvent(e) {
            $(e.target).removeClass('dragtarget');
        }

        function dropEvent(e) {
            var source = $('#Products a.dragging').parent();
            var target = $(e.target).parent();
            target.after(source);
            e.preventDefault();
        }

        $(function () {
            $('#Products a')
                .attr('draggable', 'true')
                .bind('dragenter', dragEnterEvent)
                .bind('dragover', dragOverEvent)
                .bind('dragleave', dragLeaveEvent)
                .bind('drop', dropEvent);
            $('#Products')
                .bind('dragstart', dragStartEvent)
                .bind('dragend', dragEndEvent);
        });
    </script>
}
